* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*ここでaリンクは色が元に戻り下線が消える*/
a {
  text-decoration: none;
  color:inherit;
}

.hamburger {
  display: none;
}

header {
  width: 100%;
  height: 70px;
  background-color: #EC715F;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 1024px;
  margin: 0 auto;
}
nav > :first-child {
  margin-right: auto;
}

.logo {
  height: 70px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list-item {
  list-style: none;
  margin: 0 30px;
  font-size: 16px;
  color: #FAFAFA;
}
.nav-list-item:active {
  color: #1a720d;
}

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}
.main-visual-text {
  color: #FAFAFA;
  font-size: 64px;
  text-align: center;
  padding-top: 200px;
}
.small-text {
  color: #FAFAFA;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}

.portfolio {
  background-color: #ECEFF1;
  width: 100%;
}
.portfolio-text {
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
  position: relative;
}
.explanatory-note {
 margin: 30px 0;
 font-size: 16px;
 color: #000000;
}

.container {
  width: 920px;
  margin: 0 auto;
  text-align: center;
}

.portfolio-text:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -8px;/*線の上下位置*/
  display: inline-block;
  width: 70px;/*線の長さ*/
  height: 3px;/*線の太さ*/
  transform: translateX(-50%);/*位置調整*/
  background-color: #EC715F;/*線の色*/
}

.img-group {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 90px;
}
.img1 {
  width: 300px;
  height: 250px;
  background-image: url(img/sketch.jpg);
  background-size: cover;
  background-position: center;
  margin: 0 10px 10px 0;
}
.img2 {
  width: 300px;
  height: 250px;
  background-image: url(img/websuku.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}
.img3 {
  width: 300px;
  height: 250px;
  background-image: url(img/write.jpg);
  background-size: cover;
  background-position: center;
  margin: 0 0 10px 10px;
}
.img4 {
  width: 300px;
  height: 250px;
  background-image: url(img/webcamp.png);
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}
.img5 {
  width: 300px;
  height: 250px;
  background-image: url(img/talk.jpg);
  background-size: cover;
  background-position: center;
}
.img6 {
  width: 300px;
  height: 250px;
  background-image: url(img/webcamp-mother.png);
  background-size: cover;
  background-position: center;
  margin-left: 10px;
}

.feature {
  width: 100%;
}
.feature-container {
  width: 980px;
  margin: 0 auto;
}
.feature-text {
  font-size: 32px;
  color: #000000;
  text-align: center;
  padding-top: 90px;
  position: relative;
}
.feature-text:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -8px;/*線の上下位置*/
  display: inline-block;
  width: 70px;/*線の長さ*/
  height: 3px;/*線の太さ*/
  transform: translateX(-50%);/*位置調整*/
  background-color: #EC715F;/*線の色*/
}
.explanatory-note2 {
  text-align: center;
  margin: 30px 0;
  font-size: 16px;
  color: #000000;
}

i {
  font-size: 60px;
}

.strength-group {
  display: flex;
  margin-bottom: 90px;
}
.strength-group p {
  text-align: left;
  font-size: 16px;
  color: #000000;
}
.strength-group h5 {
  font-size: 20px;
  color: #000000;
  margin: 10px 0;
}

.strength1 {
  width: 320px;
  text-align: center;
  margin-right: 10px;
}
.strength2 {
  width: 320px;
  text-align: center;
  margin-right: 10px;
}
.strength3 {
  width: 320px;
  text-align: center;
}

.profile {
  width: 100%;
  background-color: #ECEFF1;
}
.profile-container {
  width: 1024px;
  margin: 0 auto;
}
.profile-text {
  font-size: 32px;
  color: #000000;
  text-align: center;
  padding-top: 90px;
  position: relative;
}
.profile-text:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -8px;/*線の上下位置*/
  display: inline-block;
  width: 70px;/*線の長さ*/
  height: 3px;/*線の太さ*/
  transform: translateX(-50%);/*位置調整*/
  background-color: #EC715F;/*線の色*/
}
.explanatory-note3 {
  text-align: center;
  margin: 30px 0 10px 0;
  font-size: 16px;
  color: #000000;
}
.profile-group {
  display: flex;
  padding-bottom: 90px;
}
.profile-group h5 {
  font-size: 20px;
  padding: 20px 0 5px 0;
}
.profile-group p {
  font-size: 16px;
  color: #000000;
}
.profile-img {
  width: 512px;
  text-align: center;
}
.profile-img img {
  width: 250px;
  height: 250px;
  margin-top: 20px;
  border-radius:50%;
}

.my-profile {
  width: 512px;
}

.contact {
  width: 100%;
}
.contact-container {
  width: 800px;
  margin: 0 auto;
}
.contact-text {
  font-size: 32px;
  color: #000000;
  text-align: center;
  padding-top: 90px;
  position: relative;
}
.contact-text:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -8px;/*線の上下位置*/
  display: inline-block;
  width: 70px;/*線の長さ*/
  height: 3px;/*線の太さ*/
  transform: translateX(-50%);/*位置調整*/
  background-color: #EC715F;/*線の色*/
}

.mail h5 {
  font-size: 20px;
  margin-bottom: 5px;
}
.mail {
  width: 400px;
}
.contact-group {
  display: flex;
  padding-bottom: 90px;
}
.sns {
  width: 400px;
}
.sns i {
  font-size: 50px;
  margin-right: 20px;
}
.sns h5 {
  font-size: 20px;
  margin-bottom: 5px;
}
a.fa-twitter {
  font-size: 50px;
  margin-right: 20px;
}
.tel {
  margin-top: 20px;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #EC715F;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  font-size: 16px;
  color: #FAFAFA;
}

/*ハンバーガー*/
.hamburger {
    display: none;
    position: fixed;
    z-index : 3;
    right : 13px;
    top   : 5px;
    width : 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
    -webkit-transition: 0.5s all;
    -moz-transition   : 0.5s all;
    transition        : 0.5s all;
  }
  .hamburger span {
    display : block;
    position: absolute;
    width   : 30px;
    height  : 2px ;
    left    : 6px;
    background: #FAFAFA;
  }
  .hamburger span:nth-child(1) {
    top: 10px;
  }
  .hamburger span:nth-child(2) {
    top: 20px;
  }
  .hamburger span:nth-child(3) {
    top: 30px;
  }

  .hamburger.active{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  background : #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}
.hamburger.active span:nth-child(2) {
  top: 16px;
  background : #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}
.hamburger.active span:nth-child(3) {
  opacity: 0;
}
/*ハンバーガー押すと反応する部分*/
nav.globalMenuSp.active {
  position: fixed;
  z-index : 2;
  top  : 0;
  left : 0;
  color: #fff;
  background: rgba(0,0,0,0.7);
  text-align: center;
  width: 100%;
  height: 100%;
  transition: opacity .6s ease, visibility .6s ease;
}

nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  transition: .4s all;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}
nav.globalMenuSp ul li:hover{
  background :#ddd;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #fff;
  padding: 1em 0;
  text-decoration :none;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  opacity: 100;
}
/*ずっと反応してしまうので常に消すアクティブの時に反応させる*/
.globalMenuSp {
  display: none;
}

.nav-list-item2 {
  list-style: none;
  font-size: 35px;
  margin: 35px 0;
  color: #FAFAFA;
}

.nav-list-item2:active {
  color: #1a720d;
}
